# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook local checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Local data cache or system tracking files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Virtual environments
venv/
.venv/
env/
.env/